@model NewTask

<div class="row task">

    <h1>Adicionar Tarefas</h1>
    <div>
        <b>Digite sua nova tarefa:</b>
    </div>
    <form class="form" asp-controller="Home" asp-action="Add" method="post">
        <input asp-for="Tarefa" class="form-control" />
        <span asp-validation-for="Tarefa" class="text-danger"></span>
        <button type="submit" id="btn" class="btn btn-dark">Adicionar Tarefa </button>
    </form>
</div>